<ion-header>
  <ion-toolbar>
    <ion-title  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">All Leave</ion-title>
    <ion-buttons slot="end" >
      <ion-button routerLink="/add-leave" >
        <ion-icon slot="icon-only" name="add-circle-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="userTypeId == 1">
    <h1 class="title" style=" font-weight: 400;font-size: medium; margin-left: 20px;" >Leave</h1>
  </div>
  <!-- <div *ngIf="userTypeId == 2">
    <h1 class="title" style=" font-weight: 400;font-size: medium; margin-left: 20px;" >Leave Request</h1>
  </div> -->
  <!-- <h1 class="title" style=" font-weight: 400;font-size: medium; margin-left: 20px;" >Leave Request</h1> -->
  
  <ion-card *ngFor="let leave of leaves">
    <ion-list>
      <ion-grid>
        <ion-row>
          <ion-col style="font-weight: 700;font-size: large;" class="ion-align-self-start">
            {{leave.reason}}
          </ion-col>
          <ion-col style="text-align: end;color: orangered;" >
            {{leave.status}}
          </ion-col>
          <ion-input [ngModel]="email"></ion-input>
        </ion-row>
        <ion-col style="color: darkgrey;">
          {{leave.date}}
        </ion-col>
        <ion-row>
          <ion-col style="font-weight:bold; margin: 22px;" *ngIf="userTypeId == 1">
            {{leave.managerName}}
          </ion-col>
          <ion-col style="font-weight:bold; margin: 22px;" *ngIf="userTypeId == 2">
            {{leave.userName}}
          </ion-col>
          

          <!---UserType 1-->
          <div *ngIf="userTypeId == 1" >
            <ion-card style="padding: 10px;" >
              <button ion-item>
                Cancel Request
              </button></ion-card>
          </div>

          <!---UserType 2-->
          <div *ngIf="userTypeId == 2">
            <ion-card style="padding: 10px;">
              <button ion-item>
                Approve/Reject
              </button></ion-card>
          </div>
          
        </ion-row>
      </ion-grid>
    </ion-list>    
  </ion-card>
  <!-- <ion-card routerLink="/payslipe" style="padding:10px; text-align: center;">
    <ion-label>
      Payslipe 
    </ion-label>
  </ion-card> -->


</ion-content>
