
// #rounded {
//     width: 100%;
//     height: 60px;
//     -moz-border-radius: 50px;
//     -webkit-border-radius: 50px;
//     border-radius: 10px;
//     margin-bottom: 10px; 
//     background-color: grey; 
// }

#container {
    width: 300px; 
    margin-left:auto; 
    margin-right: auto; 
}

ion-content {
    --background: rgb(250, 244, 244);;
}
