<ion-header>
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="margin-top: 10px;">
          <ion-buttons (click)="back()">
            <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
            
          </ion-buttons>      
        </ion-col>
        <ion-col style="text-align: end;" size="3">
          <img src="../../../assets/loginLogo.png" style="height: 50px;">
        </ion-col>
        <ion-col style=" font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >
          <h3 class="ion-no-margin" style="margin-top: 13px;">My Feed</h3>
        </ion-col>
        <!-- <ion-col  size="2" >
          <ion-buttons routerLink="/add-attendance" style="margin-top: 10px;">
            <ion-button >
              <ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon>
            </ion-button>
          </ion-buttons>
          
      </ion-col> -->
      </ion-row>
    </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngFor="let feed of aniversary">
    <ion-list>
      <!--first -->
      <ion-grid>
        <ion-row>
          <ion-col>
             <ion-label>event</ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label>a day ago</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!--end first part-->
      <!--second start-->
      <div style="margin-left: 10px;font-size: 10px;">
        <h5>Happy Birthday Amit ,Hava a Nice Day</h5>
      </div>
      <div style="text-align: center;padding: 10px;" class="cardImage">
        <ion-avatar>
          <img src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bWVufGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80">
        </ion-avatar>
        <h5>Amit Kumar</h5>
        <h5>Happy birthday Too You</h5>
      </div>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-chip>
                <ion-avatar>
                  <img src="https://thumbs.dreamstime.com/b/thumbs-up-icon-vector-isolated-white-background-sign-transparent-134066787.jpg">
                </ion-avatar>
                <ion-label>3 Like</ion-label>
              </ion-chip>
            </ion-col>
            <ion-col style="text-align: end;">
              <ion-chip>
                <ion-label>Reply</ion-label>
                <ion-avatar>
                  <img src="https://icons-for-free.com/iconfiles/png/512/next+reply+icon-1320165657413388724.png">
                </ion-avatar>
               
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      
    </ion-list>
  </ion-card>
  <div *ngIf="aniversary == false" style="text-align: center; margin-top: 100px;">
   <img src="../../../assets/emptydata.png">
  </div>
  

</ion-content>
