<div>   
  <ion-item style="padding: 10px;">
    <ion-grid>
      <ion-row>
        <ion-col >
          <h6 style="color: black;">{{title}}</h6>
        </ion-col>
        <ion-col col-4 >
          <ion-buttons style="margin-top: 10px; margin-left: 120px;">
            <ion-button>
              <ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon>
            </ion-button>
          </ion-buttons>
          
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>        
</div>