
<ion-content >
  <form [formGroup]="forgetForm" (ngSubmit)="forgetPassword()">
    <ion-card style="padding: 20px;margin-top: 100px;">
      <div style="padding: 20px;text-align: center;">
        <h2>Forgot your password?</h2>
      <p>Dont't worry! Just fill in your email and we'll send you a password on your email.</p>
      </div>
     
      <div style="text-align: center;margin: 20px;">
        <ion-item id="rounded">
          <ion-label position="floating">Email Id</ion-label>
          <ion-input formControlName="emailId"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.emailId">
            <div style="color: red;" class="error-message"
              *ngIf="forgetForm.get('emailId').hasError(validation.type) && (forgetForm.get('emailId').dirty || forgetForm.get('emailId').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
      </div>
      <div style="text-align: center;">
        <ion-button type="submit">
          Reset password
        </ion-button>
      </div>
    </ion-card>
  </form>
  
  
  

</ion-content>
