<ion-header  >
  <ion-toolbar  >
    <ion-toolbar color="primary">
      <ion-buttons slot="start" (click)="back()">      
          <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
      </ion-buttons>
      <ion-buttons slot="end" routerLink="/add-pay-slip">
       <ion-button>
        <ion-icon   size="large" slot="end" width="100%"name="add"></ion-icon>
       </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
      <div style="text-align: center;background-color: #bb2a27;margin-top:-18px;color: white;padding: 20px;" >
        <h2>Hey {{empName}}</h2>
        <p>
          Welcome to payslips
         </p>
      </div>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-item>
      <ion-label> Select-Year</ion-label>
      <ion-datetime  placeholder="select Year" displayFormat="YYYY" min="2021" max="2050" [(ngModel)]="selectyear" (ionChange)="getpayslipdata()" ></ion-datetime>
    </ion-item>
  </ion-card-content>
</ion-card>

<ion-content>
<ion-list>
  <ion-item *ngFor="let p of yearPayslip" [routerLink]="['/payslipSummary/', p.month,p.year]">
 <ion-avatar slot="start">
 <ion-img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png"></ion-img>
 </ion-avatar>
 <ion-label>{{p.month}}</ion-label>
  </ion-item>
</ion-list>

<div *ngIf=" yearPayslip== false" style="text-align: center; margin-top: 50px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold;">
  <img src="../../../assets/emptydata.png">
  <!-- <h5>No Leave Data Add One</h5> -->
 </div>

</ion-content>


<!-- <ion-label>{{p.id}}</ion-label> -->
