button ion-icon {
    position: absolute;
   right: 20px;
  }
  .btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: RoyalBlue;
  }
  ion-card {
    position: relative;
    text-align: center;
  }
  
  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  
  
  .new-background-color{
    --background: #e93c76;
    --height: 60px;
  }

  ion-content{
    --background: rgb(250, 244, 244);
}
  