<ion-header>
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="margin-top: 10px;">
          <ion-buttons (click)="back()">
            <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
            
          </ion-buttons>      
        </ion-col>
        
        <ion-col size="7" style="margin-top: 13px;font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >
          <h2 class="ion-no-margin">PaySlip Summary</h2>
        </ion-col>
        <ion-col size="2" style="text-align: end;margin-top: 10px;">
          <ion-button  href="http://49.50.69.37:8089/HRMSServices/downloadPayslip/{{empId}}/{{monthid}}/{{yearid}}">
            <ion-icon name="cloud-download-outline"></ion-icon>
          </ion-button>
        </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content >
  <h5 style="margin-left:20px;margin-top:10px;color:grey;font-size: 13px;">You Have Earned gross pay of {{monthid}} </h5>
   <div class="ion-padding" >
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Ucs payslips</ion-card-subtitle>
        <ion-card-title> </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <h5 style="margin-left:20px;color:grey">Earning Details</h5>
    <ion-card style="padding: 20px;">
      <ion-list>
        <ion-row>
          <ion-col >
            <ion-label>NetPay</ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label >{{'₹'+details.netPay}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>GrossPay</ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label>{{details.gross}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>projectIncentive</ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label>{{'₹'+details.projectIncentive}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Epf</ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label>{{'₹'+details.epf}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-label>Medical</ion-label>
          </ion-col>
          <ion-col style="text-align: end;">
            <ion-label>{{'₹'+details.medical}}</ion-label>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card>
  </div>


</ion-content>

