<ion-header>
  <ion-toolbar>
    <ion-title>Pay Slip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
   <ion-list>
     <ion-card routerLink="/pay-slip-summary">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" style="text-align: center;height: 50px;">
            </ion-avatar>
          
          </ion-col>
          <ion-col>
            <ion-list style="text-align: start;">
            <ion-title>May</ion-title>
            </ion-list>
          </ion-col>
          <ion-col style="text-align: end;margin-top: 10px;">
            <ion-title>$82000</ion-title>
          </ion-col>
        </ion-row>
       </ion-grid>
     </ion-card>
     <ion-card routerLink="/pay-slip-summary">
      <ion-grid>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img src="https://cdn4.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png" style="text-align: center;height: 50px;">
            </ion-avatar>
          
          </ion-col>
          <ion-col>
            <ion-list style="text-align: start;">
            <ion-title>June</ion-title>
            </ion-list>
          </ion-col>
          <ion-col style="text-align: end;margin-top: 10px;">
            <ion-title>$82000</ion-title>
          </ion-col>
        </ion-row>
       </ion-grid>
     </ion-card>
     
     
   </ion-list>
  </div>

</ion-content>
