<ion-header>
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="margin-top: 10px;">
          <ion-buttons (click)="back()">
            <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
            
          </ion-buttons>      
        </ion-col>
        <ion-col>
          <img src="../../../assets/loginLogo.png" style="height: 50px;margin-left: 60px;">
        </ion-col>
        <ion-col style="margin-top: 13px;font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left: -120px;" >
          <h1 class="ion-no-margin">Add Leave </h1>
        </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content>
  
  <!-- <h1 class="title" style=" font-weight: 400;font-size: medium; margin-left: 20px;" >Add Leave</h1> -->

  <!-- <div>   
    <ion-item style="padding: 10px;">
       <h1 class="title" style=" font-weight: 400;font-size: medium; margin-left: 20px;" >Add Leave</h1>
    </ion-item>        
  </div> -->

 <form  [formGroup]="addLeaveForm" (ngSubmit)="submitleaveForm()">
    <ion-card style="padding: 13px;">
      <ion-item>
        <ion-label>Type Of Leave</ion-label>
        <ion-select  okText="Okay" cancelText="Dismiss" formControlName="type">
          <ion-select-option >Casual</ion-select-option>
          <ion-select-option >Immergency</ion-select-option>
          <ion-select-option >Personal</ion-select-option>
        </ion-select>
      </ion-item>
    
  
    <!---Manager Name-->
    
      <!-- <ion-item>
        <ion-label>Manager Name</ion-label>
        <ion-select  okText="Okay" cancelText="Dismiss" formControlName="manager">
          <ion-select-option >Sapan</ion-select-option>
          <ion-select-option >Manish</ion-select-option>
          <ion-select-option >Prasad</ion-select-option>       
        </ion-select>
      </ion-item> -->
    
  
    <!----Reasons For Leave-->
    <ion-item style="padding: 10px;">
      <ion-label position="floating">Reasons For Leave</ion-label>
      <ion-input formControlName="reasons"></ion-input>
      <!-- <show-errors [control]="addLeaveFormaddLeaveForm.controls.reasons"></show-errors> -->
    </ion-item>
  
    <!----- Start Date Of Leave-->
    
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime placeholder="select Date" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" formControlName="startDate"></ion-datetime>
      </ion-item>
    
  
      <!----- End Date Of Leave-->
      
        <ion-item>
          <ion-label>End Date</ion-label>
          <ion-datetime placeholder="select Date" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" formControlName="endDate"></ion-datetime>
        </ion-item>
      
  
      <!---Discription-->
      
      
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea formControlName="discription"></ion-textarea>
        </ion-item>
        <!-- <ion-item>
          <ion-label>Notes</ion-label>
          <ion-textarea rows="6" cols="20" placeholder="Enter any notes here..."></ion-textarea>
        </ion-item> -->
      
  
      <!---Button-->
      <div style="text-align: center;padding: 10px;">
        <ion-button size="small" style="text-align: center;" type="submit">Submit</ion-button>
      </div>
    </ion-card>
    
 </form>
    
  
  
    
  

</ion-content>
