<!-- <ion-header>
  <ion-toolbar>
    <ion-title  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Employee Record</ion-title>
    <ion-buttons slot="end" >
      <ion-button routerLink="/add-employee">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
  <!-- <app-header></app-header> -->
  <ion-header>
    <ion-toolbar >
      <ion-grid>
        <ion-row>
          <ion-col size="2" style="margin-top: 10px;">
            <ion-buttons (click)="back()">
              <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
              
            </ion-buttons>      
          </ion-col>
          <ion-col>
            <img src="../../../assets/loginLogo.png" style="height: 50px;">
          </ion-col>
          <ion-col style="margin-top: 13px;font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" size="5">
            <h4 class="ion-no-margin">Employee Record</h4>
          </ion-col>
          <ion-col  size="3">
            <ion-buttons routerLink="/add-employee" style="margin-top: 10px;margin-left: 50px;">
              <ion-button >
                <ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon>
              </ion-button>
            </ion-buttons>
            
        </ion-col>
        </ion-row>
      </ion-grid>
  </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card *ngFor="let item of employees" style="background-color: rgb(218, 245, 218);" [routerLink]="['/update-employee-details/', item.id]">
      <ion-grid>
      <ion-row>
        <ion-col style="background-color: darkcyan; text-align: center;" size="4">
            <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043260-avatar-male-man-portrait_113269.png" style="height: 80px;">
        </ion-col>
         <ion-col  size="4">
            <p>{{item.empName}}</p>
            <p>{{item.mobileNumber}}</p>
            <p>{{item.department}}</p>
            <p>{{item.designation}}</p>
        </ion-col>
        <ion-col style="text-align: end;">
            <ion-toggle color="success"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card>
  </ion-content>