<ion-header >
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="margin-top: 10px;">
          <ion-buttons (click)="back()">
            <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
            
          </ion-buttons>      
        </ion-col>
        <ion-col style="text-align: end;" size="3">
          <img src="../../../assets/loginLogo.png" style="height: 50px;">
        </ion-col>
        <ion-col style=" font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >
          <h3 class="ion-no-margin" style="margin-top: 13px;">Attendance Record</h3>
        </ion-col>
        <!-- <ion-col  size="2" >
          <ion-buttons routerLink="/add-attendance" style="margin-top: 10px;">
            <ion-button >
              <ion-icon name="add-circle-outline" style="font-size: 30px;"></ion-icon>
            </ion-button>
          </ion-buttons>
          
      </ion-col> -->
      </ion-row>
    </ion-grid>
</ion-toolbar>
<ion-toolbar style="background-color: rgb(192, 189, 189);">
    <!-- <div>
      <ion-label>Select Date Range</ion-label>
      <ion-select >
        <ion-select-option *ngFor="let dates of date" [value]="dates">{{dates}}</ion-select-option>
      </ion-select>
    </div> -->
    <!-- <div style="padding: 10px;">
      <ion-select placeholder="Select Date">
        <ion-select-option *ngFor="let dates of date" [value]="date">{{dates}}</ion-select-option>       
      </ion-select>
    </div> -->

    <!-- <ion-row>
      
      <ion-col size="2">
        <ion-button fill="clear" >
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
   
      <ion-col size="8" class="ion-text-center">
        <h2>{{ date }}</h2>
      </ion-col>
   
      
      <ion-col size="2">
        <ion-button fill="clear" >
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->

    <ion-item>
      
      <ion-select [interfaceOptions]="customActionSheetOptions" interface="action-sheet" placeholder="Select One"
      [(ngModel)]="dateRange"  (ionChange)="getValue()">
        <ion-select-option  *ngFor="let dates of date"   >{{dates}}</ion-select-option>
        
      </ion-select>
    </ion-item>
    
 
</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card style="padding: 15px;" > -->
    <!-- <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label style="font-weight: bold;">Mon(20 Aug)</ion-label>
          </ion-col>
          <ion-col >
            <ion-label>In Time</ion-label>         
          </ion-col>
          <ion-col >
            <ion-label>Out Time</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label style="font-weight: bold;">Tue(21 Aug)</ion-label>
          </ion-col>
          <ion-col >
            <ion-label>In Time</ion-label>         
          </ion-col>
          <ion-col >
            <ion-label>Out Time</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label style="font-weight: bold;">Wed(22 Aug)</ion-label>
          </ion-col>
          <ion-col >
            <ion-label>In Time</ion-label>         
          </ion-col>
          <ion-col >
            <ion-label>Out Time</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label style="font-weight: bold;">Thur(23 Aug)</ion-label>
          </ion-col>
          <ion-col >
            <ion-label>In Time</ion-label>         
          </ion-col>
          <ion-col >
            <ion-label>Out Time</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label style="font-weight: bold;">Fri(24 Aug)</ion-label>
          </ion-col>
          <ion-col >
            <ion-label>In Time</ion-label>         
          </ion-col>
          <ion-col >
            <ion-label>Out Time</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col >
            <ion-label style="font-weight: bold;">Sat(25 Aug)</ion-label>
          </ion-col>
          <ion-col >
            <ion-label>In Time</ion-label>         
          </ion-col>
          <ion-col >
            <ion-label>Out Time</ion-label>
          </ion-col>
        </ion-row>
        
      </ion-grid>
    </ion-item>
    
  </ion-card> -->

  <ion-card *ngFor="let day of Weekdays">
    <h5>{{day | date}}</h5>
  </ion-card>

 
 

</ion-content>
