ion-content{
    --background: rgb(250, 244, 244);

    h5{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
    }

    ion-label{
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
}
