<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col size="2" style="margin-top: 10px;">
          <ion-buttons (click)="back()">
            <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
            
          </ion-buttons>      
        </ion-col>
        <ion-col>
          <img src="../../../assets/loginLogo.png" style="height: 50px;margin-left: 60px;">
        </ion-col>
        <ion-col style="margin-top: 13px;font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left: -120px;" >
          <h2 class="ion-no-margin">Add Employee</h2>
        </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  padding class="background">
  <form [formGroup]="employeeForm" (ngSubmit)="submitEmployeeForm()">

    <ion-card>
      <div style="margin-left:15px;">
        <h5 >Personal Details</h5>
        <ion-card-content>
          <!-- <ion-item>
            <ion-label position="floating">Enter employee Id</ion-label>
            <ion-input FormControlName="empId"></ion-input>
          </ion-item> -->
          <ion-item>
            <ion-label position="floating">Enter Full Name</ion-label>
            <ion-input formControlName="empName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Email Id</ion-label>
            <ion-input formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input formControlName="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Date Of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789" formControlName="dob"></ion-datetime>
          </ion-item>

          <!-- <ion-item>
            <ion-label floating>Date Of Birth</ion-label>
            <ion-input hideWhen="mobile" type="date"></ion-input>
            <ion-datetime showWhen="mobile" displayFormat="MM/DD/YYYY" min="1900-01-01" max="2100-12-31"
              formControlName="dob"></ion-datetime>
          </ion-item> -->
          <!-- <ion-item>
            <ion-label position="floating">Enter Mobile No</ion-label>
            <ion-input formControlName="mobileNumber"></ion-input>
          </ion-item> -->
          <!-- <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select placeholder="Select One" formControlName="gender">
                <ion-select-option value="f">Male</ion-select-option>
                <ion-select-option value="m">Female</ion-select-option>
              </ion-select>
            </ion-item> -->

        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <div style="margin-left:15px ;">
        <h5>Department Detail</h5>
        <ion-card-content>
          <ion-item>
            <ion-label>Department</ion-label>
            <ion-select placeholder="Select One" formControlName="department">
              <ion-select-option value="IT">IT</ion-select-option>
              <ion-select-option value="HR">HR</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>designation</ion-label>
            <ion-select placeholder="Select One" formControlName="designation">
              <ion-select-option value="Frontend">Frontend</ion-select-option>
              <ion-select-option value="Backend">Backend</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Role</ion-label>
            <ion-select placeholder="Select One" formControlName="role">
              <ion-select-option value="Traniee">Traniee</ion-select-option>
              <ion-select-option value="employee">employee</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input formControlName="address"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Landmark</ion-label>
            <ion-input formControlName="landmark"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Pincode</ion-label>
            <ion-input formControlName="pincode"></ion-input>
          </ion-item> -->
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <div style="margin-left:15px ;">
        <h5>Joining Detail</h5>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Joining Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789" formControlName="joindate"></ion-datetime>
          </ion-item>
          <!-- <ion-item>
            <ion-label floating>Joining Date</ion-label>
            <ion-input hideWhen="mobile" type="date"></ion-input>
            <ion-datetime showWhen="mobile" displayFormat="MM/DD/YYYY" min="2021-01-01" max="2100-12-31"
              formControlName="joindate"></ion-datetime>
          </ion-item> -->

        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <div style="margin-left:15px ;">
        <h5>Document</h5>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Enter Addhar Card</ion-label>
            <ion-input formControlName="addhar"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Pan Card</ion-label>
            <ion-input formControlName="pancard"></ion-input>
          </ion-item>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-content>
       
        <!-- <ion-item>
          <ion-row>
            <ion-col>
              <input type="text" placeholder="Enter Document Name" formControlName="document" />
            </ion-col>
            <ion-col>
              <input type="file" accept="image/*" />
            </ion-col>
          </ion-row>
        </ion-item> -->
        <ion-item>
          <ion-label>Status</ion-label>
          <ion-select placeholder="Select One" formControlName="status">
            <ion-select-option value="Active">Active</ion-select-option>
            <ion-select-option value="InActive">InActive</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <!-- <ion-button  expand="block" (click)="saveRecord()"> -->
     <div>
      <ion-button expand="block" type="submit">
        Save Details
      </ion-button>
     </div>
  </form>


  <form>
    <ion-card>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>Upload Document</ion-label>
        </ion-col>
        <ion-col col-4 style="text-align:end">
          <ion-icon name="add-circle-outline" style="font-size: xx-large;"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-card>
  </form>
 
</ion-content>