<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Add New Employee</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content [fullscreen]="true">
     <ion-card>
       <div style="margin-left:15px;">
         <h5>Personal Details</h5>
         <ion-card-content>
          <ion-item>
            <ion-label position="floating">Enter Full Name</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Email Id</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Mobile No</ion-label>
            <ion-input></ion-input>
          </ion-item>
            <ion-item>
              <ion-label>Gender</ion-label>
              <ion-select placeholder="Select One">
                <ion-select-option value="f">Male</ion-select-option>
                <ion-select-option value="m">Female</ion-select-option>
              </ion-select>
            </ion-item>
        <ion-item>
          <ion-label>Department</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">frontend</ion-select-option>
            <ion-select-option value="m">backend</ion-select-option>
          </ion-select>
        </ion-item>
         </ion-card-content>
       </div>
     </ion-card>
     <ion-card>
      <div style="margin-left:15px ;">
        <h5>Address Detail</h5>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Address</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Landmark</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="fixed">Pincode</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <div style="margin-left:15px ;">
        <h5>Joining Detail</h5>
        <ion-card-content>
          <ion-item>
            <ion-label>Joining Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YY" placeholder="Select Date"></ion-datetime>
          </ion-item>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <div style="margin-left:15px ;">
        <h5>Document</h5>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Enter Addhar Card</ion-label>
            <ion-input></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Enter Pan Card</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </ion-card-content>
      </div>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-row style="border-bottom: groove;">
          <ion-col col-4>
            <ion-label >Document Name</ion-label>
          </ion-col>
          <ion-col col-4 style="text-align:end">
              <ion-icon name="add-circle-outline" style="font-size: xx-large;"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
          <ion-button  expand="block" (click)="saveRecord()">
            Save Details
           </ion-button>
</ion-content>
