<ion-header >
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="../../../assets/loginLogo.png" style="height: 50px;margin-left: 80px;">
        </ion-col>
        <ion-col style="margin-top: 13px;font-size: larger;font-weight: 700;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;margin-left: -120px;" >
          <h1 class="ion-no-margin">Add Week </h1>
        </ion-col>
        
      </ion-row>
    </ion-grid>
</ion-toolbar>
</ion-header>


<ion-content>

<mat-form-field>
  <input matInput placeholder="Select Date" [matDatepicker]='datepicker'>
  <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-datepicker #datepicker></mat-datepicker>
</mat-form-field>
  

  <form #myForm='ngForm' (ngSumit)='doSumit(myForm)'>
    <ion-list>
      <ion-item (click)='selectDate'>
        <ion-label>Date</ion-label>
        <ion-datetime display-format='DD.MM.YYYY HH:mm' name='selectedDate' [(ngModel)]='myDate' [readonly]='true'></ion-datetime>
      </ion-item>
    </ion-list>
  </form>

  <ion-item>
    <ion-label floating>Date Of Birth</ion-label>
    <ion-input hideWhen="mobile" type="date" ></ion-input>
    <ion-datetime showWhen="mobile"  min="1900-01-01" max="2100-12-31" ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>MMMM</ion-label>
    <ion-datetime  showWhen="mobile" displayFormat="MMMM" value="2012-12-15T13:47:20.789"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>MM DD YY</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="MM DD YY" placeholder="Select Date"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>Disabled</ion-label>
    <ion-datetime showWhen="mobile" id="dynamicDisabled" displayFormat="MM DD YY" disabled value="1994-12-15"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>YYYY</ion-label>
    <ion-datetime showWhen="mobile" [pickerOptions]="customPickerOptions" placeholder="Custom Options" displayFormat="YYYY" min="1981" max="2002"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">MMMM YY</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="MMMM YY" min="1989-06-04" max="2004-08-23" value="1994-12-15T13:47:20.789"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">MM/DD/YYYY</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>DDD. MMM DD, YY (custom locale)</ion-label>
    <ion-datetime value="1995-04-15" min="1990-02" max="2000"
      [dayShortNames]="customDayShortNames"
      displayFormat="DDD. MMM DD, YY"
      monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>D MMM YYYY H:mm</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="D MMM YYYY H:mm" min="1997" max="2010" value="2005-06-17T11:06Z"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>DDDD MMM D, YYYY</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="DDDD MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>HH:mm</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>h:mm a</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="h:mm a"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>hh:mm A (15 min steps)</ion-label>
    <ion-datetime showWhen="mobile" displayFormat="h:mm A" minuteValues="0,15,30,45"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>Leap years, summer months</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" monthValues="6,7,8" [yearValues]="customYearValues"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label>Specific days/months/years</ion-label>
    <ion-datetime monthValues="6,7,8" yearValues="2014,2015" dayValues="01,02,03,04,05,06,08,09,10, 11, 12, 13, 14" displayFormat="DD/MMM/YYYY"></ion-datetime>
  </ion-item>

  <!-- <div class="row">
    <div class="pr-3 pb-3 pe-3 w-auto">
      <bs-datepicker-inline [bsValue]="bsInlineValue"></bs-datepicker-inline>
    </div>
    <div class="pr-3 pb-3 pe-3 w-auto">
      <bs-daterangepicker-inline [bsValue]="bsInlineRangeValue"></bs-daterangepicker-inline>
    </div>
  </div> -->

  <!-- <ion-card style="padding: 10px;">
    <div>
      <ion-item>
        <ion-label>Week</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="f">Week 1</ion-select-option>
          <ion-select-option value="m">Week 2</ion-select-option>
          <ion-select-option value="m">Week 3 </ion-select-option>
          <ion-select-option value="m">Week 4</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <br>
    <div>
      <ion-item>
        <ion-label>Start Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YY" placeholder="Select Date"></ion-datetime>
      </ion-item>
    </div>
    <br>
    <div>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YY" placeholder="Select Date"></ion-datetime>
      </ion-item>
    </div>
  
    <div style="text-align: center;padding: 20px;">
      <ion-button>Save</ion-button>
    </div>
  </ion-card>
   -->

</ion-content>
