<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-grid>
      <ion-row>
        <ion-col  style="margin-top: 10px;">
          <ion-buttons (click)="back()">
            <ion-icon name="chevron-back-circle" style="font-size: 30px;"></ion-icon>
            
          </ion-buttons>      
        </ion-col>
      
        <ion-col >
          
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item>
    <ion-button (click)="closeModal()" size="small" slot="end">Close</ion-button>
  </ion-item> -->
  <ion-card style="padding: 20px;text-align: center;">
  <ion-item>
    <ion-select placeholder="select document type" [(ngModel)]="documentType">
      <ion-select-option value="pancard">PAN CARD</ion-select-option>
      <ion-select-option value="addharcard">AADHAR CARD</ion-select-option>
      <ion-select-option value="addharcard">Other</ion-select-option>
    </ion-select>
  </ion-item>
<ion-item>
       <input type="file" id="file" accept="image/*" (change)="onFileSelected($event)" />
      
</ion-item>
<div style="text-align: center;">
  <ion-item>
    <ion-button color="secondary" (click)="uploadDoc()">Upload</ion-button>
  </ion-item>
</div>

</ion-card>
</ion-content>
