<app-header></app-header>
<ion-content padding class="background">
  

  <div style="margin-top: 50px;">
    <ion-grid>
      <ion-row>
        <ion-col style="height: 100px;width: 100px;" size="6">
          <ion-card routerLink="/leave">
            <ion-list style="text-align: center;">
              <img style="height: 60px;width: 60px;padding-top: 10px;" src="../../assets/leave.png">
              <h5 style="font-size: 10px;">Leave Mangement System</h5>
            </ion-list>
          </ion-card>
         
        </ion-col >
        <ion-col size="6" >
          <ion-card routerLink="/attendance">
            <ion-list style="text-align: center;">
              <img style="height: 60px;width: 60px;padding-top: 10px;" src="../../assets/attendance.jpg">
              <h5 style="font-size: 10px;">Attendance Mangement</h5>
            </ion-list>
          </ion-card>       
        </ion-col>       
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card routerLink="/pay-slip">
            <ion-list style="text-align: center;">
              <img style="height: 60px;width: 60px;padding-top: 10px;" src="../../assets/payslip.png">
              <h5 style="font-size: 10px;">PaySlip Management</h5>
            </ion-list>
          </ion-card>       
        </ion-col>
        <ion-col size="6">
          <ion-card routerLink="/employee">
            <ion-list style="text-align: center;">
              <img style="height: 60px;width: 60px;padding-top: 10px;" src="../../assets/employee.png">
              <h5 style="font-size: 10px;">Employee Management</h5>
            </ion-list>
          </ion-card>       
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  
</ion-content>